html {-webkit-overflow-scrolling: touch;}
body{
	height: 100%
}
.main-container{
	height: 90%;
    margin-top:55px;
}
.banner_section{
    overflow:scroll;
}
#banner_header{
	padding: 1em;
	z-index: 200;
	position: fixed;
	width: 100%;
    text-align: center;
    background-color:#bd998b;
    color:#fff;
}
#banner_footer{
    width: 100%;
    position: fixed;
    z-index: 200;
    bottom: 0;
    height: 50px;
    text-align: center;
    background-color: #bd998b;
    color: #fff;
}
#banner_footer .footer.col-xs-6{
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
}
table.music-table.wrapper{
    margin:0;
}
tr.music-list{
    text-align: center;
}
.table-row.options{
    color:#fff;
}

.music-search-icon{
     vertical-align:bottom;
     color:#fff;"
}

.replymodal-dialog{
    margin:0;
}
#modal-music-search{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.modal-content{
    background-color:#bd998b;
    border-radius: 0;
}
.modal-content > .modal-header{
    border-bottom:0;
}
.modal-icons-wrapper{
    display:inline-block;
}
.modal-icons-wrapper > .modal-dismiss-icon{
    color: #fff;
    vertical-align: middle;
}
.search-area{
    background-color:transparent;
    width:80%;
    border:0;
    border-bottom:1px solid #fff;
    color:#fff;
}
.following-num, .followed-num{
    text-align: center;
}
.add_playlist, .send-to-friend{
    height:100%;
}
.add_playlist{
    border-right: 1px solid #fff;
    padding-top: 2px;
}
.send-to-friend{
    border-left: 1px solid #fff;
    padding-top: 3px;
}

.send-to-friend > .material-icons{
    font-size: 20px;
}
.music-function-wrapper{
    height: 30px;
    border: 2px solid #fff;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px
}
.friends-list-wrapper, .following-list-wrapper{
    color:#fff;
    padding: 0 1em 0 1em;
    margin: 10px 0 10px 0;
}
.footer.col-xs-6 > .material-icons{
    font-size:35px;
}