body{
	height: 100%
}
.main-container{
	height: 100%;
    margin-top:50px;
}
#banner_header{
	padding: 1em;
	z-index: 200;
	position: fixed;
	width: 100%;
    text-align: center;
    background-color:#bd998b;
    color:#fff;
}
#banner_footer{
    width: 100%;
    position: fixed;
    z-index: 200;
    bottom: 0;
    height: 50px;
    text-align: center;
    background-color: #bd998b;
    color: #fff;
}
#banner_footer .footer.col-xs-6{
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
}
table.music-table.wrapper{
    margin:0;
}
tr.music-list{
    text-align: center;
}
.table-row.options{
    color:#fff;
}

.music-search-icon{
     vertical-align:bottom;
     float:right;
     color:#fff;"
}

.replymodal-dialog{
    margin:0;
}
.modal-content{
    background-color:#bd998b;
    border-radius:20px;
}
.search-area{
    background-color:transparent;
    width:85%;
    border:0;
    border-bottom:1px solid #fff;
    color:#fff;
}