<footer class="footer" id="banner_footer">
	<div class="mainback footer-nav-wrapper">
		<div class="footer col-xs-6" id="feed_page"><i class="material-icons">&#xE896;</i></div>
		<div class="footer col-xs-6" id="my_page" style="border-left:1px solid #fff;"><i class="material-icons">&#xE853;</i></div>
	</div>
</footer>

<script>
	$('#feed_page').on('click', function(){
		var width = $('body').width()
		$.ajax({
			url: '/feed_page',
			type: 'POST',
			data: {'width': width, csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(view){
				$('.main-container').html(view);
			}, error:function(){

			}
		});
	});
	$('#my_page').on('click', function(){
		var width = $('body').width() - 20;
		$.ajax({
			url: '/my_page',
			type: 'POST',
			data: {'userinfo': 'false', 'width': width, csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(view){
				$('.main-container').html(view);
			}, error:function(){

			}
		});
	});
</script>