<header class="mainback header-container" style="z-index:1000;display:none;">
	<div id="banner_header">
		<div class="banner-header-wrapper">
			<i class="material-icons" id="find-friends" style="vertical-align:bottom;float:left;">&#xE7FE;</i>
			<span id="app_title">Beta</span>
			<i class="material-icons music-search-icon" id="search_music" style="float:right;">&#xE8B6;</i>
		</div>
	</div>
</header>

<script>
	$('#search_music').on('click', function(){
		$("#modal-music-search").modal('show');
	});
	$('#find-friends').on('click',function(){
		$('#modal-find-friends').modal('show');
	});

</script>