<div class="friends-list-container">
	{% for fol in follows %}
		<div class="friends-list" data-uri="{{uri}}" data-userid="{{fol.followee.userIdx}}">
			<span>{{fol.followee.email}}</span>
			<span class="music-send-icon" style="float:right;"><i class="material-icons" style="vertical-align:bottom;">&#xE163;</i></span>
		</div>
	{% endfor %}
</div>

<script>
	$('.friends-list').on('click',function(){
		var uri = $(this).data('uri');
		var receiver = $(this).data('userid');
		$.ajax({
			url: "/send_music",
			type: "POST",
			data: {"uri": uri, "receiver": receiver, csrfmiddlewaretoken: '{{ csrf_token }}'},
			sucess:function(){

			},error: function(){

			}

		});
	});
</script>