<div class="friends-list-container">
	{% if follows %}
		{% for fol in follows %}
			<div class="friends-list" data-uri="{{uri}}" data-userid="{{fol.followee.userIdx}}">
				<span>{{fol.followee.email}}</span>
				<span class="music-send-icon" style="float:right;"><i class="material-icons" style="vertical-align:bottom;">&#xE163;</i></span>
			</div>
		{% endfor %}
	{% else %}
		<div class="no-follow-wrap" style="color:#000000;">
			<i class="material-icons">&#xE7FC;</i>
			<p style="font-size:20px;">You don't have any follower yet! </p>
		</div>
	{% endif %}
</div>

<script>
	$('.friends-list').on('click',function(){
		var uri = $(this).data('uri');
		var receiver = $(this).data('userid');
		$.ajax({
			url: "/send_music",
			type: "POST",
			data: {"uri": uri, "receiver": receiver, csrfmiddlewaretoken: '{{ csrf_token }}'},
			sucess:function(){

			},error: function(xhr, errmsg, err){
				error_report("send_music", xhr.status, xhr.responseText, errmsg)
			}

		});
	});
</script>