{% extends 'common/head.html' %}
{% load staticfiles %}
{% block content %}
	<div class="main-container" id="page-wrapper">
		{% include 'feed_page.html' %}
		<!-- <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf&view=coverart" width="250" height="330" frameborder="0" allowtransparency="true"></iframe> -->
	</div>

	<!--<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>-->

	<script>
	login_check();
	$('#music-search-icon').on('click',function(){
		var searchinput = $('#music-search-input').val();
		if (searchinput){
			spotify_search(searchinput);
			$('.music-table .music-tbody').html('');

		}
	});
	$("#modal-get-follow").on('show.bs.modal', function(event){
		var type = $(event.relatedTarget).data('type');
		var modal = $(this);
		// alert(type)
		if(type=="following"){
			url = "get_following/";
		}else if (type=="follower"){
			url = "get_follower/";
		}
		$.ajax({
			url : url,
			type: "POST",
			data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
			success : function(view){
				console.log(modal.find('.following-list-wrapper'))
				console.log(view)
				modal.find('.following-list-wrapper').html(view)
			}, error: function(){
			}
		})

	});
	function add_playlist(uri){
		$.ajax({
			url: '/add_playlist',
			type: 'POST',
			data: {'uri': uri, csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(){

			},error:function(){

			}
		})

	}
	function get_friends(uri){
		// console.log(type);
		$.ajax({
			url: '/get_friends',
			type: 'POST',
			data: {'uri': uri, csrfmiddlewaretoken: '{{ csrf_token }}'},
			success: function(view){
				$('#modal-get-friends').modal('show');
				$('#modal-get-friends').find('.friends-list-wrapper').html(view);
			},
			error: function(){

			}
		});
	}
	function find_friends(){
		var input = $('#friends-email-id').val();	
		var modal = $('#modal-find-friends');
			
		$.ajax({
			url: "/search_friends",
			type: "POST",
			data: {"friends_info" : input, csrfmiddlewaretoken: '{{ csrf_token }}'},
			success: function(view){
				modal.find('.friends-list-wrapper').html(view);
			}
		});

	}
	function spotify_search(input){
		//var url = "https://api.spotify.com/v1/search?query=동방신기&offset=0&limit=20&type=track&market=US";
		var url = "https://api.spotify.com/v1/search?query=" + input + "&offset=0&type=track&market=US"
		$.ajax({
			url : url,
			type : "GET",
			success : function(data){
				// console.log(data);
				// console.log(data['tracks'])
				// console.log(data['tracks']['items'])
				var width = $('body').width() - 20;
				var height = width * 0.267;
				//loop through the track items
				for(var i in data['tracks']['items']){
					// console.log(data['tracks']['items'][i]);
					var music_uri = data['tracks']['items'][i]['uri'];
					var music_player = '<iframe src="https://embed.spotify.com/?uri='+ music_uri + '" width="'+width+'" height="'+height+'" allowtransparency="true"></iframe>';
					var music_list = '<tr class="music-list" style="color:#000000;"><td class="music-player">' + music_player + '<div class="music-function-wrapper" style="width:'+width+'"><div class="col-xs-6 add_playlist" onclick="add_playlist(\''+music_uri+'\')"><i class="material-icons">&#xE03B;</i></div><div class="col-xs-6 send-to-friend" data-uri=' + music_uri +' onclick="get_friends(\''+music_uri+'\')"><i class="material-icons">&#xE163;</i></div></div></td></tr>'
					// var music_list = '<tr class="music-list"><td class="music-player">' + music_player + '</td></tr><tr class="table-row options"><td class="table-division"><i class="material-icons">&#xE03B;</i><i class="material-icons">&#xE163;</i></td></tr>';
					$('.music-table .music-tbody').append(music_list);
				}

			}

		});
	}

	function login_check(){
		$.ajax({
			url: '/login_check',
			type: 'POST',
			data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(data){
				// alert(data.result)
				//console.log()
				if (data.result == false){
					login_page();
					// window.location.href = "/login__page";
				}

			},error:function(){

			}

		});
	}
	function login_page(){
		$.ajax({
			url: '/login_page',
			type: 'POST',
			data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(view){
				$('#banner_header').hide();
				$('#banner_footer').hide();
				$('.main-container').css('margin-top', 0);
				$('.main-container').html(view);
			}, error:function(view){
			
			}
		});
	}
	</script>
	{% include 'common/footer.html' %}
{% endblock %}