<div class="modals">
	<div class="modal fade replymodal" id="modal-find-friends" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog replymodal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header header-dark ">
					<input id="friends-email-id" placeholder="Enter email or id" style="background-color:black;width:85%;"/>
					<i class="material-icons" id="search_friends" style="vertical-align:bottom;float:right;" onclick="find_friends()">&#xE8B6;</i>
				</div>
				<div class="friends-list-wrapper">
				</div>
			</div>
		</div>
	</div>
</div>