<div class="modals">
	<div class="modal fade replymodal" id="modal-find-friends" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog replymodal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header header-dark">
					<input class="search-area" type="search" id="friends-email-id" placeholder="Enter email or id"/>
					<div class="modal-icons-wrapper">
						<i class="material-icons music-search-icon" id="search_friends" onclick="find_friends()">&#xE8B6;</i>
						<i class="modal-dismiss-icon material-icons" data-dismiss="modal">&#xE5CE;</i>
					</div>
				</div>
				<div class="friends-list-wrapper">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade replymodal" id="modal-music-search" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog replymodal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header header-dark">
					<input class="search-area" type="search" id="music-search-input" placeholder="Search music here" style=""/>
					<div class="modal-icons-wrapper">
						<i class="material-icons music-search-icon" id="music-search-icon">&#xE8B6;</i>
						<i class="modal-dismiss-icon material-icons" data-dismiss="modal">&#xE5CE;</i>
					</div>
				</div>
				<table class="music-table wrapper">
					<tbody class="music-tbody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade replymodal" id="modal-get-friends" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" style="top:30%">
		<div class="modal-dialog replymodal-dialog" role="document" style="margin:0;">
			<div class="modal-content" style="background-color:floralwhite;height:200px;border-radius:30px;border-color:#fff;">
				<div class="modal-header header-dark" style="padding:3px 0 0 1em;
				border-bottom:2px solid #000000;">
					<h4 style="margin:0;font-size:17px;color:#000000;">
						Send to your friend!
					</h4>
					<!-- <input id="music-search-input" placeholder="Search music here" style="background-color:black;width:85%;"/>
					<i class="material-icons" id="music-search-icon" style="vertical-align:bottom;float:right;">&#xE8B6;</i> -->
				</div>
				<div class="friends-list-wrapper">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade replymodal" id="modal-get-follow" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" style="top:30%">
		<div class="modal-dialog replymodal-dialog" role="document" style="margin:0;">
			<div class="modal-content" style="height:200px;">
				<h4 class="modal-title" style="color:#fff; margin:0;">
				</h4>
				<div class="modal-header header-dark" style="padding:3px 0 0 1em;
				border-bottom:1px solid #fff;">
					<!-- <input id="music-search-input" placeholder="Search music here" style="background-color:black;width:85%;"/>
					<i class="material-icons" id="music-search-icon" style="vertical-align:bottom;float:right;">&#xE8B6;</i> -->
				</div>
				<div class="following-list-wrapper">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade replymodal" id="modal-user-info" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog replymodal-dialog" role="document" style="margin:0;">
			
			<div class="modal-content" style="background-color:#fff">
				<div class="modal-header" style="background-color:#bd998b;width:100%;height:30px;color:#fff;padding:3px 0 0 1em;">
					<i class="modal-dismiss-icon material-icons" data-dismiss="modal">&#xE5CE;</i>
				</div>
				<div class="modal-user-content" style="background-color:#fff;">
				</div>
			</div>
		</div>
	</div>
</div>