<div class="mypage-container">
	<div class="user-profile">
		<div class="user-profile email" data-userid="{{user.id}}" {% if logout_enable %} onclick="logout()" {% endif %}>
			{{user.email}}
		</div>
		<div class="user-profile follow-info">
			<div>
				<div class="col-xs-3 following-num"  data-type="following" data-toggle="modal" data-target="#modal-get-follow">
					{{following_num}}<br>
					followings
				</div>
				<div class="col-xs-3 followed-num" data-type="follower" data-toggle="modal" data-target="#modal-get-follow">
					{{followed_num}}<br>
					followers
				</div>
			</div>
			<!-- <div style="clear:both"></div> -->
			<!-- <div>
				<div class="col-xs-3">following</div>
				<div class="col-xs-3">followers</div>
			</div> -->
		</div>
	</div>
	<div style="clear:both;"></div>
	<div class="section-division" style="background-color:#e8e1e1;">
		Playlist
	</div>
	<div class="user-playlist">
		{% for p in playlist %}
		<div class="p-user-playlist">
			<iframe src="https://embed.spotify.com/?uri={{p.uri}}" height="80"allowtransparency="true"></iframe>
		</div>
		{% endfor %}
	</div>
</div>

<script>

	function logout(){
		$.ajax({
			url: '/logout',
			type: 'POST',
			data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(view){
				login_page();
				// $('.main-container').html(view);
			}, error:function(){
			}
		});
	}
</script>