<div class="friends-list-container">
	{% for user in users %}
		<div class="friends-list">
			<span>{{user.email}}</span>
			<span class="add-friend" id="add-friend" data-useremail="{{user.email}}" data-useridx={{user.userIdx}} style="float:right;">Follow <i class="material-icons" style="vertical-align:bottom;">&#xE146;</i></span>
		</div>
	{% endfor %}
</div>

<script>
	$('.add-friend').on('click', function(){
		var friendIdx = $(this).data('useridx');
		alert(friendIdx)
		$.ajax({
			url: '/add_friend',
			type: 'POST',
			data: {'friendIdx': friendIdx, csrfmiddlewaretoken: '{{ csrf_token }}' },
			success: function(){

			},error:function(xhr, errmsg, err){
				error_report("add_friend", xhr.status, xhr.responseText, errmsg)
			}

		})

	});
</script>